<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <style>
        body {
            font-family: Arial;
            max-width: 900px;
            margin: 20px auto;
        }

        nav {
            margin-bottom: 20px;
        }

        nav a {
            margin-right: 15px;
        }

        .book, .collection {
            border: 1px solid gray;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <nav>
        <a href="/">Главная</a>
        <a href="/Collection">Подборки</a>
        <a href="/User/Register">Регистрация</a>
    </nav>

    @RenderBody()

</body>
</html>