@{
    ViewData["Title"] = "Подборки";
}

<h1>Подборки книг</h1>

<hr />

<div class="collection">
    <h3>Любимая классика</h3>

    <ul>
        <li>Война и мир</li>
        <li>Преступление и наказание</li>
    </ul>
</div>

<div class="collection">
    <h3>Антиутопии</h3>

    <ul>
        <li>1984</li>
        <li>О дивный новый мир</li>
    </ul>
</div>