@{
    ViewData["Title"] = "Регистрация";
}

<h1>Регистрация</h1>

<form>
    <div>
        <label>Имя</label>
        <br />
        <input type="text" />
    </div>

    <br />

    <div>
        <label>Email</label>
        <br />
        <input type="email" />
    </div>

    <br />

    <div>
        <label>Пароль</label>
        <br />
        <input type="password" />
    </div>

    <br />

    <button type="submit">Зарегистрироваться</button>
</form>