@{
    ViewData["Title"] = "Книга";
}

<h1>Информация о книге</h1>

<hr />

<h2>1984</h2>

<p><b>Автор:</b> Джордж Оруэлл</p>

<p><b>Жанр:</b> Антиутопия</p>

<p>
    <b>Описание:</b><br />
    Роман о тоталитарном обществе.
</p>

<p>
    <b>Статус:</b>
    Прочитана
</p>

<hr />

<h3>Рецензия</h3>

<p>
    Очень сильная и мрачная книга.
</p>